* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-weight: 300; letter-spacing: -.5px;}
*:focus {outline: 0;}

nav {margin: 1rem 15% 0 15%; padding-bottom: 1rem; border-bottom: 1px solid #ccc;}
nav ul {list-style-type: none; display: flex; height: 4rem; align-items: center;}
nav ul li.light {color: #777; font-size: .8rem; padding-right: 2rem;}
nav ul li a {margin: 1rem; padding: .5rem 0; text-decoration: none; color: #000; font-weight: 400;}
nav ul li a:hover, nav ul li.current a {border-bottom: 1px solid black;}

main {padding: 2rem 15% 0 15%;}

h1 {padding-bottom: 1rem; font-size: 2.5rem;}

table {border-collapse: collapse; border: 3px double black; margin-top: 1rem;}
table tr th {text-align: left; border-bottom: 3px double black; font-weight: 600;}
table tr > * {padding: .4rem .6rem;}

input {padding: .5rem; font-size: 1.05rem;}

p {padding-top: 1rem;}

footer {margin-top: 3rem; border-top: 1px solid #ccc; padding-top: 1rem;}