<%- include('../partials/header', {req, res, title: '403 Access denied'}) %>
<%- include('../partials/file-start', {req, res}) %>
<%- include('../partials/menu', {req, res}) %>
<h1>404 Access denied</h1>
<%- include('../partials/footer', {req, res}) %>
<%- include('../partials/file-end', {req, res}) %>